[Desktop Entry]
Name=Pybliographic
Name[de]=Pybliographic
Name[fi]=Pybliographic
Name[sv]=Pybliographic
Name[hu]=Pybliographic
Comment=Bibliographic database editor
Comment[de]=Bibliographischer Datenbank-Editor
Comment[fi]=Bibliografiatietokannan muokkaustyökalu
Comment[fr]=Éditeur de bases de données bibliographiques
Comment[sv]=Redigerinsgprogram för bibliografidatabaser
Comment[hu]=Bibliográfiai adatbáziskezelõ
Icon=pyExec=pybliographic
Terminal=0
Type=Application
