[Desktop Entry]
Name=Pybliographic
Name[da]=Pybliografer
Name[ja]=Pybliographer
Comment=Bibliographic database editor
Comment[da]=Editor for bibliografiske databaser
Comment[fr]=Éditeur de bases de données bibliographiques
Comment[ja]=Ê¸¸¥¥Ç¡¼¥¿¥Ù¡¼¥¹¥¨¥Ç¥£¥¿
Comment[pt_BR]=Editor de banco de dados bibliográfico
Comment[uk]=òÅÄÁËÔÏÒ Â¦ÂÌ¦ÏÇÒÁÆ¦ŞÎÏ§ ÂÁÚÉ ÄÁÎÉÈ
Icon=pybliographic.png
Exec=pybliographic
Terminal=0
Type=Application
