[Desktop Entry]
Name=Pybliographic
Comment=Bibliographic database editor
Comment[pt_BR]=Editor de banco de dados bibliogrАfico
Comment[fr]=иditeur de bases de donnИes bibliographiques
Comment[uk]=Редактор б╕бл╕ограф╕чно╖ бази даних
Icon=pybliographic.png
Exec=pybliographic
Terminal=0
Type=Application
